@{
    ViewData["Title"] = "Admin Page";
}

<div class="container py-5">
    <div class="row py-3">
        <div class="col-lg-8 mx-auto text-center">
            This is Admin page, do not enter without permission
        </div>
    </div>
</div>